__pycache__/
*.pyc
venv/
.env
.agent/ 
# This one is for the guy I'm teaching to code, he uses AI so just in case
AGENTS.md
config_data/
cache/
logs/
config_dir.txt
comp.png
raw.png
dist/
build/
*.spec
oldfiles/
findings.md
site/
